* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*backgroud:color image repeat position/size*/

  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  color: white;
}
#container {
  width: 360px;
  margin: auto;
  margin-top: 56px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  padding: 24px 0;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 500;
  transition: backgroud 0.5s;
}
/* pseudo- selector*/
ul li a::hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}

/* social-links */
#social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backgroud 0.2s;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 50%;
}
